<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% block body %}{% endblock %}
<div id=flashes>
<p>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
</p>
</div>
</body>
</html>
